<!DOCTYPE HTML>
<html ng-app="haystaxApp">
  <head>
    <title>Twitter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <body ng-controller="MyController">
    <div class="input-wrapper">
      <div class="ui icon input">
        <input type="text" placeholder='e.g. "interior"' ng-model="searchQuery">
        <i class="search icon"></i>
      </div>
      <span class="ui left pointing label">Search for a Twitter <span class="twitter-handle">@username</span></span>
    </div>

    <!-- TEST -->

    <span ng-if="searchQuery">{{ searchQuery }}</span>
    <span ng-if="tweet">{{ tweet.text }} | {{ tweet.num_words }} | {{ tweet.time }}</span>

    <!-- /TEST -->

    <div class="wrapper">
      <div class="ui link cards card-feed">
        <div class="card">
          <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              Matthew is an interior designer living in New York.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2013
            </span>
            <span>
              <i class="calendar icon"></i>
              75 Friends
            </span>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Molly</div>
            <div class="meta">
              <span class="date">Coworker</span>
            </div>
            <div class="description">
              Molly is a personal assistant living in Paris.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2011
            </span>
            <span>
              <i class="calendar icon"></i>
              35 Friends
            </span>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Elyse</div>
            <div class="meta">
              <a>Coworker</a>
            </div>
            <div class="description">
              Elyse is a copywriter working in New York.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2014
            </span>
            <span>
              <i class="calendar icon"></i>
              151 Friends
            </span>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Matt Giampietro</div>
            <div class="meta">
              <a>Friends</a>
            </div>
            <div class="description">
              Matthew is an interior designer living in New York.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2013
            </span>
            <span>
              <i class="calendar icon"></i>
              75 Friends
            </span>
          </div>
        </div>
        <div class="card">
          <div class="content">
            <div class="header">Molly</div>
            <div class="meta">
              <span class="date">Coworker</span>
            </div>
            <div class="description">
              Molly is a personal assistant living in Paris.
            </div>
          </div>
          <div class="extra content">
            <span class="right floated">
              Joined in 2011
            </span>
            <span>
              <i class="calendar icon"></i>
              35 Friends
            </span>
          </div>
        </div>
      </div>
      <div class="ui twitter-feed">
        <a class="twitter-timeline" data-width="420" data-height="550" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/interior">Tweets by interior</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="ui">
      <span class="ui label basic green">Made with love by 
        <a class="twitter-handle" href="https://github.com/johnkntran/haystax10">@johnkntran</a>
      </span>
    </div>
  </body>
</html>