<!DOCTYPE HTML>
<html ng-app="haystaxApp">
  <head>
    <title>Twitter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <link rel="stylesheet" href="./css/style.css">
    <script src="https://unpkg.com/jquery@3.2.1/dist/jquery.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
    <script src="./js/app.js"></script>
  </head>
  <body ng-controller="MyController">
    <div class="input-wrapper">
      <div class="ui icon input">
        <input type="text" placeholder='e.g. "interior"' ng-model="searchQuery" ng-keypress="submitSearch($event)">
        <i class="search icon"></i>
      </div>
      <span class="ui left pointing label">Search for a Twitter <span class="twitter-handle">@username</span></span>
    </div>
    <div class="wrapper">
      <div class="ui link cards card-feed">
        <span class="blue"><i class="twitter icon"></i>Tweet Feed</span>
        <div class="card" ng-repeat="tweet in tweets">
          <div class="content">
            <div class="description">
              {{ tweet.text }}
            </div>
          </div>
          <div class="extra content blue">
            <span class="right floated">
              Words: {{ tweet.num_words }}
            </span>
            <span>
              <i class="calendar icon"></i>
              {{ tweet.time }}
            </span>
          </div>
        </div>
      </div>
      <div class="ui twitter-feed">
        <a class="twitter-timeline" data-width="420" data-height="760" data-theme="light" data-link-color="#FAB81E" href="https://twitter.com/interior">Tweets by interior</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
      </div>
    </div>
    <div class="ui">
      <span class="ui label basic green">Made with love by 
        <a class="twitter-handle" href="https://github.com/johnkntran/haystax10">@johnkntran</a>
      </span>
    </div>
  </body>
</html>